# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/

# Java
*.class
*.log
hs_err_pid*

# OS files
.DS_Store
Thumbs.db